 .login-container{
    background-color: var(--green);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-1);
    width: 500px;
    height: auto;
    border-radius: 4%;
    box-shadow: 7px 7px 7px var(--text-dark);
}

.form-login .logo{
    padding: 60px 0px;
}

.form-login label{
    font-size: 18px;
    color: var(--text-dark);
    margin-bottom: 25px;
}

.form-login input{
    border: var(--text-dark) 1px solid;
    border-radius: 8px;
    margin-bottom: 10px;
    padding:12px 10px;
}

.form-login input:nth-of-type(2){
    margin-bottom: 15px;
}

.form-login input::placeholder{
    font-size: 20px;
    font-weight: 400;
}

.form-login button{
    border: none;
    display: flex;
    align-items: flex-start;
    padding: 12px 60px;
    background: var(--blue);
    border-radius: 12px;
    color: var(--text-light);
    font-size: 23px;
} 

.icone{
    margin: 30px 5px;
    cursor: pointer;
}

.label-float{
    position: relative;
    padding-top: 13px;
  }

  .label-float:nth-of-type(2){
    margin-top: 20px;
  }

  .input{
      width: 250px;
  }
  
  .label-float input{
    border: 0;
    border-bottom: 2px solid lightgrey;
    outline: none;
    min-width: 180px;
    width: 325px !important;
    font-size: 16px;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -webkit-appearance:none;
    border-radius: 0;
  }
  
  .label-float input:focus{
    border-bottom: 2px solid var(--text-dark);
  }
  
  .label-float input::placeholder{
    color:transparent;
  }
  
  .label-float label{
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
  }
  
  .label-float input:required:invalid + label{
    color: var(--text-dark);
  }
  .label-float input:focus:required:invalid{
    border-bottom: 2px solid var(--text-dark);
  }
 
  
  .label-float input:focus + label,
  .label-float input:not(:placeholder-shown) + label{
    font-size: 13px;
    margin-top: 0;
    color: var(--text-dark);}