.button-component{
    background-color: var(--blue);
    color:var(--text-light);
    border-radius: 38px;
    padding: 16px 18px;
    font-weight: 600;
    font-size: 28px;
    border: none;
}

.button-component:hover{
    filter: brightness(0.9);
}