.section-campo-pesquisa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #1DC690;
    padding-bottom: 30px;
    padding-top: 20px;
}

.texto-pesquisa{
    color: white;
    text-align: center;
}